body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

/**************** Headings ***************/
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*************** Containers **************/
.container-fluid {
    padding: 7% 15%;
}


/*************** Containers **************/
.color-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: #fff;
    color: black;
}

/**************** Title ******************/


#title .container-fluid {
    text-align: left;
    padding: 3% 15% 7%;
}

/**************** Navigation Bar ******************/
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}

/**************** Download buttons ******************/

.download-button {
    margin: 5% 3% 5% 0;
}


/**************** Title Image ******************/

.phoneImage {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .phoneImage {
        position: static;
        transform: rotate(0);
    }
}

/**************** Features ******************/

#features {
    background-color: #fff;
    position: relative;
}

.features-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.features-icon {
    font-size: 3.5rem;
    color: #ef8172;
    margin: 100px 0 20px 0;
}

.features-icon:hover {
    color: #ff4c68;
}

.describe-features {
    color: #8f8f8f;
}

/**************** Testimonials *****************/

#testimonials {
    background-color: #ef8172;
}



.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/**************** Press *****************/
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/**************** Pricing *****************/

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/**************** cta *****************/

#cta {
    padding-top: 100px;
}

.icons-footer {
    margin: 20px 10px;
}