body {
    font-family: 'Montserrat';

}
/**************** Title ******************/
#title {
    background-color: #ff4c68;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7% 15%;
}


/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.phoneImage {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .phoneImage {
        position: static;
        transform: rotate(0);
    }
}

/**************** Features ******************/

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-box {
    padding: 4.5%;
}

.features-icon {
    font-size: 3.5rem;
    color: #ef8172;
    margin: 100px 0 20px 0;
}

.features-icon:hover {
    color: #ff4c68;
}

.describe-features {
    color: #8f8f8f;
}

/**************** Testimonials *****************/

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/**************** Press *****************/
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/**************** Pricing *****************/

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
}